body{
  background: #f2f3f7;
  font-family: tahoma, monospace, ubuntu, serif;
}
.dark{
  background: #161616;
}
button{
  color: black;
  border: 1px solid black;
  background: transparent;
}
.dark button{
  color: white;
  border-color: white; 
}
